<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > SQL Injection > Description{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">SRIE > SQL Injection > Description</h2>
    <div class="container p-5 my-5 border bg-light">
        <p class="lead">
            SQL Injection is a type of attack that allows the attacker to extract database information from the web application.
            When it occurs, the attacker can access the database and extract information such as usernames, passwords, email addresses, etc.
            In worst cases, the attacker can even modify the database, which can lead to a complete compromise of the web application.<br><br>

        For example, if a website make a query like : <br>
            <code>{% raw %} SELECT * FROM users WHERE username = 'input_username' AND password = 'input_password'; {% endraw %}</code> <br>
            and the user input is not sanitized, the attacker can inject a SQL query to bypass the authentication. <br><br>

            For example, if the user input is <code>admin' --</code>, the query will become: <br>
            <code class="p-5">{% raw %} SELECT * FROM users WHERE username = 'admin' --' AND password = 'input_password'; {% endraw %}</code>
            The <code>--</code> is used to comment the rest of the query.
            The query will return the first user in the database, which is usually the administrator. <br><br>
            The attacker can then login as the administrator without knowing the password.

        </p>
    </div>
</div>
{% endblock %}




