<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > SQL Injection > Lab{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">SRIE > SQL Injection > Lab</h2>

   <!-- Command Execution section -->
   <div class="container p-5 my-5 border bg-light">
       <form method="post" action="">
           {{ content["form"].csrf_token }}
           <div class="form-group mt-2">
            <label for="{{ content['form'].username.id }}">{{ content["form"].username.label.text }}</label>
            {{ content["form"].username(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            <label for="{{ content['form'].password.id }}">{{ content["form"].password.label.text }}</label>
            {{ content["form"].password(class="form-control") }}
        </div>
           <button type="submit" class="btn btn-primary mt-2">Submit</button>
       </form> 
   </div>

    

    <!-- Command Output section -->
    <h3 class="mt-5 text-center">Command Output</h3>

    <div class="container p-5 my-5 border bg-light">
        <h4 class="mt-5">Command:</h4>
        <code class="p-5">{{ content["query"] }}</code>
        <h4 class="mt-5">Response:</h4>
{% for element in content["result"] %}
    <code class="p-5">{{ element }}</code><br>
{% endfor %}
    </div>

    
</div>
{% endblock %}




