<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > File Upload> > Countermeasure{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">SRIE > File Upload > Countermeasure</h2>
 
   <!-- Command Execution section -->
   <h3 class="mt-5 text-center">Change your profile picture :</h3>

   <div class="container p-5 my-5 border bg-light">
    <p class="lead">
        Please select an image to upload:
    </p>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ content['form'].csrf_token }}
        <div class="form-group">
            <label for="{{ content['form'].image.id }}">{{ content['form'].image.label.text }}</label>
            {{ content["form"].image(class="form-control-file", accept=".jpg, .jpeg, .png, .gif") }}
            {% for error in content["form"].image.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    
    
</div>

    

   <div class="container p-5 my-5 border bg-light">
    <p class="lead">
        When the "Submit" button is clicked, the form content will be sent to Python through Flask, and then the 
        processed data will be sent back to HTML for further display or processing.
    </p>

    <h4>Response</h4>
    {% if content["confirm"]%}
        <div class="container p-5 my-5 border">
        <p class="lead">File path: {{ content['file_path'] }}</p>
        <p class="lead">File URL: {{ content['file_url'] }}</p>
        <p><img src="{{ content['file_url'] }}" class="img-fluid"></p>
        </div>
    {% else %}
        <div class="container p-5 border">
        <p class="lead text">Waiting to upload image file ...</p>
        </div>
    {% endif %}
        
</div>
<div class="container p-5 my-5 border bg-light">
    <p class="lead">
       Pour éviter les attaques de téléchargement de fichiers, il est important de vérifier le type de fichier téléchargé. <br><br>
        Dans le cas de la bibliothèque WTForms, il faut utiliser l'outil <code>FileAllowed</code> pour vérifier le type de fichier. <br><br>
        <code>image = FileField('Image', validators=[FileAllowed(['jpg', 'png', 'gif', 'jpeg'])])</code><br><br>
        
    
    </p>
</div>
    
</div>
{% endblock %}




