<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > Brut Force> > Countermeasure {% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">SRIE > Brut Force > Countermeasure</h2>

   <!-- Command Execution section -->

   <div class="container p-5 my-5 border bg-light">
    <p class="lead">
        <form method="POST" action="">
            <!-- Add Bootstrap form classes -->
            <div class="form-group mt-2">
                {{ content.hidden_tag() }}
                {{ content.username.label(class="form-label") }}
                {{ content.username(class="form-control") }}
            </div>
            <div class="form-group mt-2">
                {{ content.password.label(class="form-label") }}
                {{ content.password(class="form-control") }}
            </div>
            <div class="form-group text-center mt-2">
                {{ content.submit(class="btn btn-primary") }}
            </div>
        </form>
    </p>
</div>
{% endblock %}




