<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > Brut Force > Description{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">SRIE > Brut Force > Description</h2>
    <div class="container p-5 my-5 border bg-light">
        <p class="lead">
           Une attaque brut par brutforce est une attaque par tentative répétée d'identifiants et/ou de mot de passe, jusqu'à trouver le bon.<br>
              Cette attaque est très simple à mettre en place, mais elle est très lente et bruyante. <br>
              En effet, il est facile de remarquer que l'on se fait attaquer du fait des nombreuses requêtes reçues.<br>

                Il existe plusieurs types d'attaques bruteforce, mais nous allons nous concentrer sur les attaques d'identifications.

                (il est possible de faire des attaques bruteforce sur des hash, ou sur des url comme avec dirb et hashcat.)
        </p>
    </div>
</div>
{% endblock %}




